@model IEnumerable<LMA.Data.Model.Author>

<a class="btn btn-success mt-5" style="margin:10px;" asp-controller="Author" asp-action="Create">Create New Author</a>

<div class="row">
    @foreach (var author in Model)
    { 
       @Html.Partial("_AuthorPartial",author)
    }
</div>